/* src/pages/Home.css */

.home {
    width: 100%;
    height: 100vh;  
    position: relative;  
    padding-top: 43px; 
}
  
.home-image {
    background-image: url('/public/ImagenHome.jpg');  
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;  
}

