/* src/components/Header.css */

.header {
  height: auto;
  background-color: #fff;  
  padding: 10px 0;             /* Espaciado superior e inferior */
  text-align: center;          /* Centra el contenido dentro del header */
  position: fixed;             /* Fija el header en la parte superior */
  top: 0;                      /* Fija el header al tope de la ventana */
  width: 100%;                 /* Asegura que el header cubra todo el ancho */
  z-index: 1000;               /* Asegura que el header esté por encima de otros elementos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera debajo del header */
  transition: 0.3s;
}

.logo-container {
  display: flex;
  justify-content: center;     
  align-items: center;  
  .logo {
    width: 90px;                 
    height: auto;                
    transition: 0.3s;
  }       
}

.header.scrolled{
  width: 95vw;
  height: 10vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  align-items: center;
  .logo{
    width: 120px;
  }
  nav.navbar {
    width: -webkit-fill-available;
    ul {
      list-style-type: none;       /* Elimina los puntos de la lista */
      padding: 0;
      margin: 0;
      display: flex;               /* Muestra los elementos en una fila */
      justify-content: center;   
      li {
        display: grid;
        margin: 0 30px;   
        padding: 12px;    
        text-align: left;     
        align-items: end;
        a{
          display: grid;
          text-decoration: none;       
          color: #101E3F;                            
          font-weight: 400;           
          transition: color 0.5s;
          span{
            font-size: 12px;
          }
          span.name-item{
            font-size: 18px;
            font-weight: 600;
            svg{
              margin-left: 4px;
              vertical-align: middle;
            }
          }
        }
        a:hover {
          color: #64aa67;              /* Cambia el color a un azul cuando el usuario pasa el mouse */
        }
  
      }
    }
    li.active{
      background: #f6f6f6; 
    }
    li.active:hover{
      color: #61dafb;   
    }
  }
  .pais-section{
    padding: 0 9px;
    height: 66px;
    display: flex;
    gap:7px;
    align-items: center;
    cursor: pointer;
    width: 70px;
    justify-content: flex-end;
    .whatsapp-floating-button{
      position:inherit;
      a{
        box-shadow: none;
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
    span{
      font-weight: 600;
    };
    i.fa-globe{
      font-size: 22px;
    }
    i.fa-chevron-down{
      font-size: 12px;
    }
  }
  .pais-section.active{
    background: #f6f6f6;
  }
  .countries-list{
    background: #fff;
    text-align: left;
    padding: 0 25px 25px 0;
    right: 20px;
    margin-top: 0;
    position: absolute;
    li {
      list-style-type: none;
      cursor: pointer;
      font-weight: 600;
      list-style-type: none;
      /* margin-bottom: 9px; */
      cursor: pointer;
      font-weight: 600;
      padding: 6px 25px;
      font-size: 14px;
    }
    li:first-child {
      font-size: 18px;
      margin-bottom: 5px;
      cursor: context-menu;
    }
    li:hover{
      background: #f6f6f6;
    }
  }
}

.container-menu {
  display: flex; 
  visibility: hidden;
  opacity: 0;
  position: fixed;
  border-top: 1px solid #dddada80;
  height: auto;
  width: 79%;
  background: white;
  top: 80px;
  left: 0;
  padding: 0;
  gap: 80px;
  justify-content: flex-start;
  .option-menu {
    width: 250px;
    border-right: 1px solid #dddada80;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin-bottom: 10px;
        height: 45px;
        height: 20px;
        padding-top: 24px;
        a {
          text-decoration: none;
          color: #000;
          cursor: pointer;
        }
        a:hover {
          color: #64aa67;
        }
      }
      li:has(.active){
        background: #f6f6f6;
      }
    }
  }
  .content-option {
    width: 70%;
    padding: 10px;
    color: #101E3F;
    h3 {
      text-align: left;
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 0px;
    }
    p{
      margin-top: 0;
      .columns-container {
        display: flex;
        justify-content: space-between;
        .column{
          margin-top: 20px;
          text-align: left;
          a{
            display: block;
            span{
              border-bottom:none;
            }
          }
        }
        .column.beneficios{
          li{
            list-style-type: disc;
          }
        }
        .column.beneficios.universidades, .column.beneficios.gobierno{
          h4{
            font-size: 20px;
          }
          p{
            max-width: 80%;
          }
          ul {
            padding-left: 18px;
          }
        }
        .column.coursera{
          li{
            margin-bottom: 7px;
            border-bottom: 1px solid #101E3F;
          }
          a.ver-mas-link{
            text-align: start;
          }
        }
        .column.speex{
          width: 230px;
          p{
            width:82%
          }
        }
        .column.nosotros{
          h4{
            font-size: 20px;
          }
          p{
            width: 70%;
          }
        }
        h4 {
          margin-top: 0;
          text-align: left;
          font-weight: 600;
        }
        ul {
          text-align: left;
          padding-left: 0;
          li{
            list-style-type: none;
          }
        }
        a{
          display: flex;
        }
        span{
          border-bottom: 1px solid black;
        }
      }
      .columns-container.soluciones-empresa, 
      .columns-container.soluciones-universidades, 
      .columns-container.soluciones-gobierno{
        flex-wrap: wrap;
        justify-content: inherit;
        .column{
          min-width: 280px;
          width: 30%;
          p{
            padding-right: 90px;
          }
        }
      }
      .columns-container.content-speex{
        align-items: flex-end;
        span{
          border-bottom: none;
        }
      }
      .columns-container.content-contactanos{
        flex-direction: column;
        align-items: flex-start;
        p.subtitle{
          margin-top:16px
        }
        .top-section, .down-section{
          margin: 15px 0;
          display: flex;
          width: -webkit-fill-available;
          justify-content: space-between;
          .pais{
            text-align: start;
            width: 270px;
            span{
              border-bottom: none;
              display: flex;
              align-items: center;
              gap: 8px;           
            }
            p{
              font-weight: 600;
            }
          }
        }
      }

      a{
        display: flex;
        justify-content: flex-end;
      }
      a.ver-mas-link {
        text-align: end;
        color: #101E3F;
        font-weight: 600;
        text-decoration: none;
        span{
          font-size: 18px;
        }
      }
    }
  }
}

.header.scrolled.visible .container-menu {
  visibility: visible;
  opacity: 1;
  padding: 20px;
  transition:ease-in;
  .option-menu{
    li{
      display: none;
    }
    li.active{
      display: block;
    }
    li:has(.blog-link){
      display: none;
    }
  }
}
header.scrolled.visible.cl .container-menu{
  .option-menu{
    li:has(.blog-link){
      display: list-item;
    }
  }
  .content-option{
    .columns-container.content-contactanos{
      .pais{
        display: none;
      }
      .pais.chile{
        display: block;
      }
    }
  }
}


/*src/components/ContactFloat.js*/

.whatsapp-floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
  .text-contacto{
    display: none;
  }
  a.container-icon-header:hover {
    display: flex;
    gap: 5px;
    box-shadow: none;
    background: #101e3f;
    width: auto;
    padding-right: 12px;
    color: #fff;
    height: 26px;
    border-radius: 16px;
    /* align-items: center; */
    text-decoration: none;
    .text-contacto{
      display: block;
    }
  }

  .form-contacto{
    background: #fff;
    border: 2px solid #101E3F;
    padding: 8px 0 20px;

    .top-section{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #101E3F;
      padding: 0 15px 8px;
      color: #101E3F;
      font-weight: bolder;
      i{
        font-size: 12px;
        cursor: pointer;
      }
    }
    .down-section{
      padding: 0 15px;
      color:#101E3F;
      .data-section{
        display: flex;
        flex-direction: column;
        text-align: start;
        font-weight: 600;
        padding: 0px 10px;
        input{
          padding: 9px 0px;
          margin: 3px 0 15px;
          border-radius: 16px;
          border: none;
          background: #F2F2F2;
        }
      }
      button{
        border: none;
        padding: 7px 30px;
        border-radius: 16px;
        color: #ffff;
        font-weight: 600;
        background: #101E3F;
      }
    }
    
  }
 
}



.whatsapp-floating-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.whatsapp-floating-button a img {
  width: 45px;
  height: 45px;
}
.whatsapp-floating-button a img:hover {
  width: 87px;
  height: 80px;
}

.container-wpp{
  .body-icon{
    width: 67px;
    height: 60px;
  }
}

















